@font-face {
    font-family: "Super Caramel";
    src: url("../font/SuperCaramel.woff2") format("woff2"), url("../font/SuperCaramel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../font/CenturyGothic-Bold.woff2') format('woff2'), url('../font/CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../font/CenturyGothic-Bold.woff2') format('woff2'), url('../font/CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'century_gothic_paneuropeanRg';
    src: url('../font/centurygothicpaneuropeanregular-webfont.woff2') format('woff2'), url('../font/centurygothicpaneuropeanregular-webfont.woff') format('woff'), url('../font/centurygothicpaneuropeanregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothic_paneuropeanLt';
    src: url('../font/centurygothicpaneuropeanlight-webfont.woff2') format('woff2'), url('../font/centurygothicpaneuropeanlight-webfont.woff') format('woff'), url('../font/centurygothicpaneuropeanlight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothic_paneuropeanXBd';
    src: url('../font/centurygothicpaneuropeanextrabold-webfont.woff2') format('woff2'), url('../font/centurygothicpaneuropeanextrabold-webfont.woff') format('woff'), url('../font/centurygothicpaneuropeanextrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothic_paneuropean_Rg';
    src: url('../font/centurygothicpaneuropeansemibold-webfont.woff2') format('woff2'),
        url('../font/centurygothicpaneuropeansemibold-webfont.woff') format('woff'),
        url('../font/centurygothicpaneuropeansemibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}

.message-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 3px;
    color: white;
    animation: slideDown 0.5s ease-out;

    .inner-message {
        margin-bottom: 0px !important;
        padding: 3px 0px;
    }
}

.success {
    color: white;
    background-color: #4c9922;
}

.error {
    color: white;
    background-color: #e55a5a;
}

/* #subscribe-input:focus {
    border-color: rgba(255, 199, 212, 1) !important;
    box-shadow: 0 0 15px 2px rgba(255, 199, 212, 1) !important;
} */

.subs-input:focus {
    border: 1px solid #e3e521;
    box-shadow: 0 0 2px 4px rgb(221 221 132) !important;
}

.cursor {
    cursor: pointer !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.mainproducttext {
    font-family: "Super Caramel"
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1000px;
}

.header .container {
    max-width: 80% !important;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("//s3.amazonaws.com/cratejoy_vendor_images/splendies/parcel-copy-8/fonts/glyphicons-halflings-regular.eot?ts=1698987073&host=");
    src: url("//s3.amazonaws.com/cratejoy_vendor_images/splendies/parcel-copy-8/fonts/glyphicons-halflings-regular.eot?ts=1698987073&host=?#iefix") format('embedded-opentype'), url("//s3.amazonaws.com/cratejoy_vendor_images/splendies/parcel-copy-8/fonts/glyphicons-halflings-regular.woff?ts=1698987073&host=") format('woff'), url("//s3.amazonaws.com/cratejoy_vendor_images/splendies/parcel-copy-8/fonts/glyphicons-halflings-regular.ttf?ts=1698987073&host=") format('truetype'), url("//s3.amazonaws.com/cratejoy_vendor_images/splendies/parcel-copy-8/fonts/glyphicons-halflings-regular.svg?ts=1698987073&host=#glyphicons_halflingsregular") format('svg');
}

.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right:before {
    content: "\e258";
}

.exblod {
    font-family: 'century_gothic_paneuropeanXBd';
}

h1,
h2,
h3 {
    font-family: "Super Caramel" !important;
}

body {
    font-family: 'century_gothic_paneuropean_Rg' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.jctkr-wrapper,
.jctkr-wrapper * {
    box-sizing: border-box
}

.jctkr-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 20px;
    vertical-align: middle;
    overflow: hidden
}

.jctkr-wrapper ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
    text-align: left;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.jctkr-wrapper.jctkr-initialized ul {
    opacity: 1
}

.jctkr-wrapper ul li {
    display: inline-block;
    font-size: 16px
}

.jctkr-label {
    display: inline-block
}

.ech-drop {
    background: #ccc;
    border: 1px solid #dadada;
}

.new-subscribe .sbu-button {
    background-color: #1EB9F0;
    border-radius: 150px;
    display: inline-block;
    text-decoration: none !important;
}

.new-subscribe .sbu-button a {
    text-decoration: none !important;
}

.new-subscribe .btn-txt {
    font-family: 'century_gothic_paneuropeanXBd';
    background-color: #ffffff;
    color: #1EB9F0;
    font-size: 17px;
    border: 1px solid #1EB9F0;
    border-radius: 50px;
    padding: 12px 40px;
    display: block;
    transform: translate(-2px, -2px);
    transition: all linear .2s !important;
    text-decoration: none !important;
}

/*--------------------banner----------------*/
/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* display none until init */
.owl-carousel {
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    margin-bottom: 20px;
    overflow: hidden;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

/*---------*/
#owl-demo .item img {
    display: block;
    height: auto;
}

/*--------------------banner----------------*/

/****************************** Offering YOMZ  *****************************/

.tick-point {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 10px;

    p {
        margin-bottom: 0px !important;
    }

    .tick-image {
        padding-top: 2px;
        height: auto;
        width: 28px;
    }
}

.newprice-info {
    font-size: 20px;
    margin-top: 30px;
}

.offeringyomz {
    padding: 50px 0;
    background: #eeeeee;
    margin-bottom: 50px;
}

.offeringyomz h3 {
    font-family: "Super Caramel";
    text-align: center;
    margin-bottom: 20px;
    font-size: 5rem;
}

.offeringyomz p {
    margin-bottom: 0px;
}

.subscribe-form input[type="email"] {
    height: 50px;
    font-size: 14px;
}

.subscribe-form [type=submit] {
    background-color: #1EB9F0;
    border-radius: 50px;
    display: block;
    text-decoration: none;
    padding: 0px;
    width: 100%;
    border: none;
}

.subscribe-form span {
    font-family: 'century_gothic_paneuropeanXBd';
    background-color: #ffffff;
    color: #1EB9F0;
    font-size: 16px;
    border: 1px solid #1EB9F0;
    border-radius: 50px;
    padding: 10px 39px;
    display: block;
    transform: translate(-3px, -3px);
    transition: all linear .2s !important;
    text-decoration: none !important;
}

.subscribe-form p {
    font-size: 12px;
}

/****************************** Offering YOMZ  *****************************/

/****************************** Subscribe *****************************/

/* .subscribe-bags {
  display: none;
} */

.subscribe-section .container {
    max-width: 900px;
}

.subscribe-section {
    padding: 80px 0;
}

.bags {
    text-align: center;
}

.bags h4 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #1eb9f0;
}

p.bag-price {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    line-height: 17px;
}

.bags {
    border: 1px solid #1eb9f0;
    border-radius: 10px;
    padding: 0px 0px 0px;
    transition: all 0.2s;
    overflow: hidden;
    background: #d5f4ff;
}

.bags img {
    padding: 20px;
}

.bag-conts,
.bag-month {
    font-size: 14px;
}

.bag-box {
    background: #fff;
    color: #000;
    padding: 10px 20px 20px;
    height: 150px;
    transition: all 0.2s;

}

.subscribe-bags {
    padding: 50px 0 0px;
}

.bags:hover {
    background: #fff !important;

}

.bags:hover .bag-box {
    background-color: #1eb9f0;
    transition: all 0.2s;
    color: #fff;
}

.bags:hover .bag-box h4 {
    color: #fff;
}

.footer {
    background-color: #ffeef1;
    padding: 24px 0 20px;
    border-top: 1px solid #fff;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer_nav_list ul li {
    list-style: outside none none;
    line-height: normal;
}

.footer_logo>a {
    display: block;
}

.social_icons {
    padding-top: 15px;
}

.social_icon_box {
    display: inline-block;
    vertical-align: middle;
}

.disclimer {
    margin-top: 40px;
}

.seprator {
    border-bottom: 1px solid #f9d7dd;
    padding-top: 8px;
}

.footer_navigation {
    padding: 30px 10px 24px;
}

.footer_column {
    text-align: left;
    width: 33.333%;
}

.left {
    float: left;
}

.footer_nav_head>p {
    color: #E6193C;
    font-size: 13px;
    font-weight: 400;
}

.footer_nav_list ul li {
    list-style: outside none none;
}

.social_icon_box a {
    cursor: pointer;
}

.social_icons.text-right {
    text-align: right;
}

.footer_nav_list a {
    color: #909090;
    font-size: 13px;
    text-decoration: none;
}

.copyright p {
    color: #e6193c;
    font-size: 13px;
    text-align: center;
}

.copyright a {
    color: #909090;
    font-size: 13px;
}

.owl-nav {
    display: none;
}

.tetsimonial_slider .owl-controls .owl-dots {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.owl-dots {
    display: block;
    left: 46%;
    margin-top: 0;
    position: absolute;
    top: 10px;
}

.owl-dot.active {
    background-image: url(../images/activedot.png);
}

.owl-dot {
    background-image: url(../images/inactive.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 12px;
}

.testi_quote {
    color: #000;
}

.author_details {
    padding-top: 15px;
}

.author_image {
    display: inline-block;
    padding: 0 10px;
    width: 100px;
}

.author_image img {
    border-radius: 50%;
}

.author_name {
    display: inline-block;
    padding: 0 10px;
}

.author_name>p {
    color: #000;
    font-size: 16px;
}

.owl-carousel .owl-item {
    padding-top: 50px;
}

/****************************** Subscribe  *****************************/

.login-chackout img {
    height: 35px !important;
    width: 35px !important;
}

.logo-sec .login-chackout a {
    color: #000;
}

.login-chackout {
    margin-right: 30px;
}

.sbu-button {
    cursor: pointer;
}

.new-subscribe .sbu-button:hover>.btn-txt {
    transform: translate(-5px, -4px);
}

.new-subscribe .announcement-bar {
    padding: 10px 0;
    overflow: hidden;
    background-color: #d92730;
}

.new-subscribe .announcement-bar .js-conveyor-1 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.new-subscribe .announcement-bar .js-conveyor-1 ul li+li {
    margin-left: 10px;
}

.new-subscribe .announcement-bar .announcement-message {
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation: my-animation 30s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.new-subscribe .logo-sec {
    background-color: #fff;
    padding: 5px 30px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.new-subscribe .logo-sec .cols3 {
    width: 33.33%;
}

.new-subscribe .logo-sec .cols3.mob_icon {
    text-align: left;
    margin-top: -5px;
}

.new-subscribe .logo-sec .cols3.logo {
    text-align: center;
}

.new-subscribe .logo-sec .cols3.login {
    text-align: right;
    margin-top: -5px;
}

.new-subscribe .logo-sec .login-acnt {
    color: #000;
    background-image: url("http://d3a1v57rabk2hm.cloudfront.net/splendies/parcel-copy-13/images/user.svg?ts=1655964324&amp;host=my.cratejoy.com");
    background-repeat: no-repeat;
    background-position: right 6px;
    background-size: 20px;
    padding-right: 28px;
    padding-top: 7px;
    white-space: nowrap;
}

.new-subscribe .logo-sec .login-acnt:hover {
    text-decoration: underline;
}

.new-subscribe .top-content-sec {
    background-color: #fff;
}

.new-subscribe .top-content-sec .sub-container {
    width: auto;
    display: flex;
    align-items: flex-start;
    margin: 0 auto 60px;
}

.new-subscribe .top-content-sec .img-sec {
    width: 60%;
    padding-left: 15px;
}

.new-subscribe .top-content-sec .img-sec .owl-nav {
    display: block;
}

.new-subscribe .top-content-sec .img-sec .owl-nav .glyphicon-menu-left {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    color: #E6193C;
}

.new-subscribe .top-content-sec .img-sec .owl-nav .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    right: 40px;
    font-size: 30px;
    transform: translateY(-50%);
    color: #E6193C;
}

.new-subscribe .top-content-sec .img-sec .owl-carousel .owl-item {
    padding-top: 0px;
}

.new-subscribe .top-content-sec .img-sec .video-sec {
    text-align: center;
    margin-bottom: 30px;
}

.new-subscribe .top-content-sec .img-sec .video-sec .video-heading {
    color: #E6193C;
    margin-bottom: 15px;
}

.new-subscribe .top-content-sec .img-sec .video-sec.desktop {
    display: block;
}

.new-subscribe .top-content-sec .img-sec .video-sec.mob {
    display: none;
}

.new-subscribe .top-content-sec .img-sec .video-sec .vdo-div .cus-vdo {
    width: 450px;
    height: 500px;
}

.new-subscribe .top-content-sec .img-sec .img-slide-sec {
    text-align: center;
}

.featur-listdone img {
    width: 30px;
}

.new-subscribe .top-content-sec .img-sec .img-slide-sec .each-slide {
    text-align: center;
    border: 2px solid #efefef;
    border-radius: 20px;
    overflow: hidden;
    width: calc(100% - 30px);
    max-width: 760px;
    margin: 0 auto;
}

/*.new-subscribe .top-content-sec.mobile .img-slide-sec {display: block;}
.new-subscribe .top-content-sec.mobile .fixed-img-sec {display: none;}
.new-subscribe .top-content-sec.mobile .mob-img-slide {display: none;}*/

.new-subscribe .top-content-sec .content-sec {
    width: 40%;
}

.new-subscribe .top-content-sec .heading-sec h4 {
    color: #000;
    font-size: 60px;
}

.new-subscribe .top-content-sec .heading-sec h3 {
    color: #E6193C;
    font-size: 70px;
}

.new-subscribe .top-content-sec .heading-sec p {
    color: #000;
    font-size: 12px;
}

.new-subscribe .top-content-sec .point-sec {
    padding: 30px 0px 20px;
}

.new-subscribe .top-content-sec .points {
    display: flex;
    align-items: center;
}

.new-subscribe .top-content-sec .points+.points {
    margin-top: 35px;
}

.new-subscribe .top-content-sec .points .chk-icon {
    padding-right: 15px;
}

.new-subscribe .top-content-sec .points .chk-icon img {
    width: 24px;
    height: 18px;
}

.new-subscribe .top-content-sec .points .point-info {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}

.new-subscribe .top-content-sec .points .point-info a {
    color: #E6193C;
}

.new-subscribe .top-content-sec .points .star-sec {
    display: flex;
    width: 100%;
}

.new-subscribe .top-content-sec .points .star-sec .star-rate {
    width: 25px;
    margin-left: 10px;
}

.new-subscribe .top-content-sec .price-sec {
    position: relative;
}

.new-subscribe .top-content-sec .price-sec .sav-50 {
    border: 1px solid #E6193C;
    padding: 5px;
    display: inline-block;
    border-radius: 8px;
    color: #E6193C;
    background-color: #fff;
    position: absolute;
    transform: rotate(-19deg);
    top: -20px;
    left: -23px;
    font-size: 15px;
}

.new-subscribe .top-content-sec .price-sec .price-amt {
    border: 1px solid #1EB9F0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 440px;
}

.new-subscribe .top-content-sec .price-sec .ofr-amt {
    background-color: #1EB9F0;
    padding: 5px 10px;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 50%;
    cursor: pointer;
}

.new-subscribe .top-content-sec .price-sec .ofr-amt .amt-head {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

.new-subscribe .top-content-sec .price-sec .ofr-amt .amt {
    display: block;
    font-size: 46px;

}

.new-subscribe .top-content-sec .price-sec .actual-amt {
    padding: 5px 10px;
    width: 50%;
    text-align: center;
    color: #000000;
}

.new-subscribe .top-content-sec .price-sec .actual-amt.user {
    width: 100%;
}

.new-subscribe .top-content-sec .price-sec .actual-amt .amt-head {
    display: block;
    font-size: 12px;

    text-transform: uppercase;
}

.new-subscribe .top-content-sec .price-sec .actual-amt .amt {
    text-decoration: line-through;
    display: block;
    font-size: 46px;
}

.new-subscribe .top-content-sec .price-sec .actual-amt.user .amt {
    text-decoration: none;
}

.button-sec a {
    text-decoration: none;
}

.new-subscribe .top-content-sec .price-sec .price-info {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    max-width: 340px;
}

.new-subscribe .top-content-sec .price-sec.desk {
    display: block;
}

.new-subscribe .top-content-sec .price-sec.mob {
    display: none;
}

.new-subscribe .top-content-sec .button-sec {
    display: flex;
    align-items: center;
}

.new-subscribe .top-content-sec .button-sec.mob {
    display: none;
}

.new-subscribe .top-content-sec .button-sec.desk {
    display: block;
}

.new-subscribe .top-content-sec .button-sec a+a {
    margin-left: 30px;
}

.button-sec.mb15 a {
    text-decoration: none;
}

.new-subscribe .top-content-sec .button-sec .love-it {
    margin-left: 40px;
    font-size: 12px;
    color: #E6193C;
}

.new-subscribe .top-content-sec .disclimer {
    color: #000;
    padding-right: 15px;
}

.new-subscribe .after-top-bg {
    margin-top: -1px;
}

.new-subscribe .after-top-bg img,
.new-subscribe .after-middle-bg img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.new-subscribe .middle-content-sec {
    padding: 30px 0px;
    position: relative;
}

.new-subscribe .middle-content-sec .icon-div {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.new-subscribe .middle-content-sec .middle-img-sce {
    text-align: center;
    padding: 20px 0px;
}

.new-subscribe .middle-content-sec .button-row {
    text-align: center;
}

.new-subscribe .middle-content-sec .button-row .msg-sec {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

.new-subscribe .middle-content-sec .button-row .splen {
    color: #E6193C;
}

.new-subscribe .middle-content-sec .button-row .btn-sec a+a {
    margin-left: 40px;
}

.new-subscribe .middle-content-sec #imgDiv {
    display: block;
}

.new-subscribe .middle-content-sec #subDiv {
    display: none;
}

.new-subscribe .middle-content-sec #subDiv .product-type {
    padding: 30px 0px;
    text-align: center;
}

.new-subscribe .middle-content-sec #subDiv .bralette-size,
.new-subscribe .middle-content-sec #subDiv .single-pair-size,
.new-subscribe .middle-content-sec #subDiv .splendies-size {
    text-align: center;
    padding: 30px 0px;
}

.new-subscribe .middle-content-sec #subDiv .single-pair-size .bow_icon,
.new-subscribe .middle-content-sec #subDiv .splendies-size .bow_icon,
.new-subscribe .middle-content-sec #subDiv .bralette-size .bow_icon {
    display: none;
}

.new-subscribe .middle-content-sec #subDiv .choose-undies {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.new-subscribe .middle-content-sec #subDiv .choose-undies .pakage_box {
    border: none;
}

.new-subscribe .middle-content-sec #subDiv .each-undies {
    border: 1px solid #f9d7dd;
}

.new-subscribe .middle-content-sec .section_head_size {
    margin-bottom: 30px;
}

.new-subscribe .middle-content-sec .choose_size {
    background-image: none;
}

.new-subscribe .middle-content-sec .size_box {
    border: 1px solid #f9d7dd;
}

.new-subscribe .middle-content-sec .product_plan_box_parent {
    margin: 0 7px;
}

.new-subscribe .footer-sec {
    background-color: #fff;
    padding-bottom: 50px;
    margin-top: -1px;
}

.new-subscribe .footer-sec .fot-cntnt-sec {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.new-subscribe .footer-sec .fot-cntnt-sec .footer-head {
    font-size: 15px;
    color: #000;
    margin-bottom: 5px;
}

.new-subscribe .footer-sec .fot-cntnt-sec .first-bold {
    color: #E6193C;
}

.new-subscribe .footer-sec .fot-cntnt-sec .news_letter {
    max-width: 350px;
}

.new-subscribe .footer-sec .fot-cntnt-sec input#mc-embedded-subscribe {
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #e94a6a;
    font-size: 11px;
}

.new-subscribe .footer-sec .fot-cntnt-sec .social-icons {
    text-align: center;
}

.new-subscribe .footer-sec .fot-cntnt-sec .social_icon_box img {
    width: 34px;
}

.new-subscribe .footer-sec .fot-cntnt-sec .flo-us {
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 15px;
}

.new-subscribe .footer-sec .fot-cntnt-sec .flo-us .bld-us {
    color: #E6193C;
}

.new-subscribe .footer-sec .fot-cntnt-sec .web-lnk {
    margin-top: 15px;
}

.new-subscribe .footer-sec .fot-cntnt-sec .web-lnk a {
    font-size: 12px;
    color: #000;
}

.new-subscribe .instagramFeed {
    background-color: #f8e1e6;
}

.new-subscribe .testimonial {
    background-color: #fff;
    padding: 10px 0 2px;
}

.new-subscribe .testimonial .owl-carousel {
    margin-bottom: 0px;
}

.new-subscribe .past-drops {
    text-align: center;
}

.new-subscribe .past-drops h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.new-subscribe .past-drops a {
    color: #E6193C;
}

.new-subscribe .past-drops .owl-carousel .owl-item {
    padding-top: 10px;
}

.new-subscribe .past-drops .owl-nav {
    display: block;
}

.new-subscribe .past-drops .owl-nav .glyphicon-menu-left {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    color: #fff;
    background-color: #000;
    padding: 15px 1px;
    cursor: pointer;
}

.new-subscribe .past-drops .owl-nav .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 30px;
    transform: translateY(-50%);
    color: #fff;
    background-color: #000;
    padding: 15px 1px;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .new-subscribe .top-content-sec .img-sec {
        padding: 0px 15px;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec {
        max-width: 1350px;
    }
}

@media screen and (max-width: 1400px) {
    .new-subscribe .top-content-sec .heading-sec h4 {
        font-size: 55px;
    }

    .new-subscribe .middle-content-sec .icon-div {
        max-width: 950px;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1200px) {
    .new-subscribe .top-content-sec .heading-sec h4 {
        font-size: 40px;
    }

    .new-subscribe .top-content-sec .heading-sec h3 {
        font-size: 50px;
    }

    .new-subscribe .top-content-sec .points .point-info {
        font-size: 16px;
    }

    .new-subscribe .middle-content-sec .icon-div {
        max-width: 730px;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec {
        max-width: 900px;
        padding-top: 15px;
    }

    .new-subscribe .middle-content-sec::after {
        width: 130px;
        height: 200px;
        top: -95px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .new-subscribe .top-content-sec .img-sec .owl-controls {
        text-align: center;
    }

    .new-subscribe .top-content-sec .img-sec .owl-controls .owl-prev,
    .new-subscribe .top-content-sec .img-sec .owl-controls .owl-next {
        display: inline-block;
    }

    .new-subscribe .top-content-sec .img-sec .owl-nav .glyphicon-menu-left,
    .new-subscribe .top-content-sec .img-sec .owl-nav .glyphicon-menu-right {
        position: relative;
        top: unset;
        right: unset;
        transform: unset;
        margin-top: 35px;
    }

    .new-subscribe .top-content-sec .img-sec .owl-nav .glyphicon-menu-left {
        left: unset;
    }

    .new-subscribe .top-content-sec .img-sec .owl-nav .glyphicon-menu-right {
        right: unset;
        margin-left: 15px;
    }

    .new-subscribe .top-content-sec .img-sec .video-sec .vdo-div .cus-vdo {
        width: auto;
    }
}

@media screen and (max-width: 991px) {
    .new-subscribe .top-content-sec .img-sec {
        width: 50%;
    }

    .new-subscribe .top-content-sec .content-sec {
        width: 50%;
    }

    .new-subscribe .middle-content-sec .icon-div {
        max-width: 700px;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec {
        max-width: 700px;
    }

    .new-subscribe .middle-content-sec::after {
        width: 90px;
        height: 140px;
        right: 0px;
        top: -85px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .new-subscribe .middle-content-sec::before {
        width: 120px;
        height: 157px;
        left: 0px;
        bottom: -50px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (min-width: 400px) and (max-width: 767px) {

    .new-subscribe .past-drops h1 {
        font-size: calc(7.5vw - 0px) !important;
        line-height: calc(0.8em + 1vw) !important;
    }

    .new-subscribe .logo-sec .cols3.mob_icon {
        width: 25%;
    }

    .new-subscribe .logo-sec .cols3.logo {
        width: 45%;
    }

    .new-subscribe .logo-sec .cols3.login {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {

    .message-box {
        margin-bottom: 20px;
    }

    .footer_logo.text-left {
        text-align: center;
    }

    .social_icons.text-right {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }

    .header .container {
        max-width: 96% !important;
    }

    .newprice-info {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .footer_nav_list a {
        color: #909090;
        font-size: 13px;
        text-decoration: none;
        line-height: normal !important;
    }

    .footer_nav_list ul li {
        list-style: outside none none;
        line-height: normal;
    }

    .subscribe-form p {
        font-size: 13px !important;

    }

    .copyright p {
        color: #e6193c;
        font-size: 13px !important;
        text-align: center;
    }

    .footer_nav_head>p {

        font-size: 13px !important;

    }

    .footer_navigation {
        padding: 30px 0px 0px;
    }

    #ready-to-yomz .sbu-button {
        width: 100%;
    }

    .subscribe-bags {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .footer_column1 .news_letter {
        display: block;
        margin-top: 30px;
        text-align: center;
    }

    .subscribe-section-sec-md {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mobile-block-line {
        display: block;
    }

    .bag-conts,
    .bag-month {
        font-size: 15px;
    }

    p.bag-price {
        font-size: 22px !important;
        margin-bottom: 0px;
        margin-top: 10px;
        line-height: 17px;
    }

    .bags h4 {
        font-size: 32px;
    }

    .new-subscribe .top-content-sec .img-sec .img-slide-sec .each-slide {

        width: calc(100% - 100px);
    }

    .bag-box {
        height: auto;
    }

    .subscribe-bags {
        padding: 40px 0 0px;
    }

    .subscribe-section {
        padding: 30px 0 0px;
    }

    .offeringyomz {
        padding: 20px 0;
        background: #eeeeee;
        margin-bottom: 20px;
    }

    .offeringyomz h3 {
        text-align: center;
        font-size: calc(7.5vw - 0px) !important;
        line-height: calc(1em + 1vw) !important;
        margin-bottom: 5px;
        ;
    }

    .offeringyomz p {
        font-size: 20px;
        color: #000;
        line-height: normal;
    }

    .past-drops.mb50 {
        margin-bottom: 0px;
    }

    .new-subscribe .top-content-sec .point-sec {
        padding: 10px 0px 0px;
        margin-bottom: 30px;
    }

    .disclimer {
        margin-top: 20px;
    }

    .new-subscribe .top-content-sec .disclimer {
        text-align: center;
    }

    .new-subscribe .past-drops h1 {
        font-size: calc(7.5vw - 0px) !important;
        line-height: calc(0.8em + 1vw) !important;
    }

    .point-sec p {
        line-height: normal;
    }

    .new-subscribe .top-content-sec .points+.points {
        margin-top: 0px;
    }

    .new-subscribe .logo-sec {
        padding-bottom: 0px;
    }

    .new-subscribe .top-content-sec .heading-sec {
        text-align: center;
        margin-left: 0px;
    }

    .new-subscribe .top-content-sec .sub-container {
        display: block;
        padding: 0px 15px;
        margin-bottom: 40px !important;
    }

    .new-subscribe .top-content-sec .img-sec {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 0px;
    }

    .new-subscribe .top-content-sec .img-sec .video-sec.desktop {
        display: none;
    }

    .new-subscribe .top-content-sec .img-sec .video-sec.mob {
        display: block;
    }

    .new-subscribe .top-content-sec .img-sec .video-sec .vdo-div .cus-vdo-mob {
        width: 100%;
        height: auto;
        max-height: 500px;
    }

    .new-subscribe .top-content-sec .content-sec {
        width: 100%;
        padding-left: 0px;
    }

    .new-subscribe .top-content-sec .heading-sec h4 {
        font-size: calc(10.5vw - 0px) !important;
        line-height: calc(0.8em + 1vw) !important;
        margin-bottom: 0px;
    }

    .new-subscribe .top-content-sec .heading-sec h3 {
        font-size: calc(31.5vw - 0px) !important;
        line-height: calc(0.9em + 1vw) !important;
        margin-bottom: 0px;
    }

    .new-subscribe .top-content-sec .price-sec {
        margin-left: 90px;
    }

    .new-subscribe .top-content-sec .button-sec {
        justify-content: center;
        margin-left: 0px;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec {
        max-width: 560px;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec .news_letter {
        margin: 0 auto 30px;
        max-width: 300px;
    }

    .new-subscribe .middle-content-sec::after {
        width: 64px;
        height: 100px;
        right: 0px;
        top: -55px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .new-subscribe .middle-content-sec::before {
        width: 85px;
        height: 140px;
        left: 0px;
        bottom: -65px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .new-subscribe .middle-content-sec .icon-div {
        max-width: 700px;
        padding: 0px 15px;
    }

    .new-subscribe .top-content-sec .disclimer {
        margin-left: 0px;
        font-size: 20px;
        line-height: normal;
        padding-right: 0px;
    }

    .new-subscribe .middle-content-sec {
        padding: 10px 0px 30px;
        position: relative;
    }

    .testimonial_box p {
        font-size: 18px;
    }

    .author_image {
        display: inline-block;
        padding: 0 0px;
        width: 70px;
    }

    .new-subscribe p.subscription_price.pink_clr.mob {
        min-height: 68px;
    }

    .new-subscribe .top-content-sec .point-sec {
        margin-left: 0px;
    }

    .new-subscribe .top-content-sec .points {
        margin-left: 23%;
    }

    .new-subscribe .top-content-sec .points .star-sec {
        margin-left: -10%;
        justify-content: center;
    }

    /* new codes  */
    .new-subscribe .announcement-bar.mobile {
        padding: 0px 0;
        min-height: auto;
    }

    .new-subscribe .announcement-bar.mobile .jctkr-wrapper ul li {
        font-size: 12px
    }

    .new-subscribe .logo-sec.mobile {
        background-color: #fff;
        padding: 5px 10px;
    }

    .new-subscribe .top-content-sec.mobile {
        background-color: #fff;
    }

    /*.new-subscribe .top-content-sec.mobile .img-slide-sec {display: none;}
    .new-subscribe .top-content-sec.mobile .fixed-img-sec {display: block; text-align: center; border: 2px solid #E6193C;border-radius: 20px;overflow: hidden;}
    .new-subscribe .top-content-sec.mobile .mob-img-slide {display: block;}*/
    .new-subscribe .top-content-sec .price-sec.desk {
        display: none;
    }

    .new-subscribe .top-content-sec .price-sec.mob {
        display: block;
        margin-left: -20px;
    }

    .new-subscribe .top-content-sec .price-sec.mob .price-amt {
        margin: 0 auto;
    }

    .new-subscribe .top-content-sec .price-sec .price-info {
        margin: 0 auto;
        padding-top: 15px;
        text-transform: unset;
        margin-bottom: 6px;
        font-size: 20px;
    }

    .new-subscribe .top-content-sec .heading-sec .head-lnk {
        cursor: pointer;
    }

    .new-subscribe .instagramFeed.mob {
        background-color: #f8e1e6;
    }

    .new-subscribe .testimonial.mob {
        background-color: #fff;
        margin-bottom: 15px;
    }

    .new-subscribe .after-top-bg.mob,
    .new-subscribe .after-middle-bg.mob {
        display: none;
    }

    .new-subscribe .footer-sec.mob {
        background-color: #fff;
    }

    .new-subscribe .top-content-sec .button-sec.mob {
        display: block;
        text-align: center;
        padding-top: 0px;
    }

    .new-subscribe .top-content-sec .button-sec.desk {
        display: none;
    }

    .new-subscribe .btn-txt {
        padding: 10px 25px;
        font-size: calc(5vw - 0px) !important;
        line-height: calc(1.2em + 1vw) !important;
    }

    .new-subscribe .price_box {
        min-height: unset;
    }

    .new-subscribe .price_box.more-space {
        min-height: 70px;
    }

    .new-subscribe .plan_Box {
        padding: 0px;
    }

    .new-subscribe p.subscription_price.pink_clr {
        min-height: unset;
    }

    .new-subscribe .subscription_period>h3 {
        margin-bottom: 2px;
        padding-bottom: 10px;
    }

    .new-subscribe .logo-sec .cols3.login,
    .new-subscribe .logo-sec .cols3.mob_icon {
        margin-top: unset;
    }

    .new-subscribe .past-drops .owl-nav .glyphicon-menu-left,
    .new-subscribe .past-drops .owl-nav .glyphicon-menu-right {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {

    .new-subscribe .top-content-sec .heading-sec p {
        color: #000;
        font-size: calc(6.2vw - 0px) !important;
        line-height: calc(0.9em + 1vw) !important;
    }

    .new-subscribe .top-content-sec .points {
        margin-left: 18%;
    }

    .new-subscribe .top-content-sec .price-sec {
        margin-left: 30px;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec {
        display: block;
    }

    .new-subscribe .footer-sec .fot-cntnt-sec .news_letter {
        margin: 0 auto 30px;
    }

    .new-subscribe .logo-sec {
        justify-content: space-between;
        padding-top: 10px;
    }

    .login-chackout {
        margin-right: 0px;
        font-size: 14px;
    }

    .login-chackout p a {
        font-size: 14px;
    }

    .logo-sec .login-chackout img {
        height: 25px !important;
        width: 25px !important;
    }

}

@media screen and (max-width: 767px) {
    .new-subscribe .top-content-sec .points .point-info {
        font-size: 15px;
    }

    .new-subscribe .top-content-sec .price-sec {
        margin-left: 0px;
    }

    .new-subscribe .top-content-sec .price-sec .ofr-amt .amt {
        font-size: 40px;
    }

    .new-subscribe .top-content-sec .price-sec .actual-amt .amt {
        font-size: 40px;
    }

    .new-subscribe .middle-content-sec .icon-div {
        display: block;
        text-align: center;
    }

    .new-subscribe .middle-content-sec .icon-div .each-icon {
        display: inline-block;
        margin: 15px;
    }

    .new-subscribe p.subscription_price.pink_clr.mob {
        min-height: 90px;
    }

    /* .new-subscribe .price_box { min-height: 75px;} */
    .new-subscribe .top-content-sec .button-sec {
        display: block;
        text-align: center;
    }

    .new-subscribe .top-content-sec .button-sec a {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .new-subscribe .top-content-sec .button-sec a+a {
        margin: 10px auto 0px auto;
    }

    .new-subscribe .top-content-sec .price-sec .sav-50 {
        top: -30px;
        left: -30px;
    }

    .new-subscribe .top-content-sec .points {
        margin-left: 15%;
    }

    .new-subscribe .logo-sec img {
        width: auto;
        height: auto;
        max-height: 40px;
    }

    .new-subscribe .product_varient_box.prdt3 {
        width: 48% !important;
    }

    .new-subscribe .product_varient_box.prdt3 .pakage_name.mh {
        min-height: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {

    .tick-point {
        margin-bottom: 0px;
    }

    .announcement-bar {
        height: auto;
    }

    .new-subscribe .top-content-sec .points .point-info {
        font-size: 12px;
    }

    .new-subscribe .top-content-sec .points {
        margin-left: 11%;
    }
}

@media screen and (max-width: 767px) {
    .new-subscribe p.subscription_price.pink_clr.mob {
        min-height: unset;
    }

    .new-subscribe .price_box.more-space {
        min-height: unset;
    }
}

@media screen and (max-width: 767px) {
    .new-subscribe .top-content-sec .points .point-info {
        font-size: 12px;
    }

    .new-subscribe .top-content-sec .price-sec .price-amt {
        max-width: 100%;
        margin: 0px auto;
    }

    .new-subscribe .top-content-sec .price-sec .ofr-amt {
        padding: 9px 5px;
    }

    .new-subscribe .top-content-sec .price-sec .ofr-amt .amt {
        font-size: 30px;
        font-size: calc(12vw - 0px) !important;
        line-height: calc(1em + 1vw) !important;
    }

    .new-subscribe .top-content-sec .price-sec .actual-amt .amt {
        font-size: 30px;
        font-size: calc(12vw - 0px) !important;
        line-height: calc(1em + 1vw) !important;
        letter-spacing: -2px;
    }

    .new-subscribe .top-content-sec .price-sec .actual-amt {
        padding: 5px 1px;
    }

    .new-subscribe .top-content-sec .points {
        margin-left: 0%;
    }
}

@media screen and (max-width: 418px) {

    .offeringyomz p {
        font-size: 19px;
    }

    p {
        font-size: 19px !important;
    }

}

@media screen and (max-width: 400px) {

    .offeringyomz p {
        font-size: 17.5px;
    }

    p {
        font-size: 17.5px !important;
    }

}

@media screen and (max-width: 375px) {

    .offeringyomz p {
        font-size: 16.5px;
    }

    p {
        font-size: 16.5px !important;
    }

}

@media screen and (max-width: 350px) {

    .offeringyomz p {
        font-size: 15.5px;
    }

    p {
        font-size: 16.5px !important;
    }

}

@media screen and (max-width: 330px) {

    .offeringyomz p {
        font-size: 14.5px;
    }

    p {
        font-size: 14.5px !important;
    }

}

@media screen and (max-width: 315px) {

    .offeringyomz p {
        font-size: 14px;
    }

    p {
        font-size: 14px !important;
    }

}

@media screen and (max-width: 301px) {

    .offeringyomz p {
        font-size: 13px;
    }

    p {
        font-size: 13px !important;
    }

}